body {
  font-family: Helvetica, sans-serif;
  background: Black;
  text-align: center;
}

h1 {
    font-size: 51px;
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    color: White;
  }

.cta {
    color: Aquamarine;
    font-size: 16px;
  }
